/* @tailwind base;
@tailwind components;
@tailwind utilities;


.icon-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .icon-picker {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .icon-picker-header h4 {
    margin: 0;
    display: inline-block;
  }
  
  .icon-picker-footer button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
   */